nav{



}

.jumbotron{
  margin-top: 70px;
}

img{
  display: block;
  max-width: 785px;
  max-height: none;
  margin: 0;
  overflow:hidden;
  position:relative;
}
.item{
  margin:0;
  display:


}
.carousel-inner{
  max-width: 785px;
  max-height: none;


}
